.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: .2s ease;
    }
}