.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}
.modal {
    background-color: rgb(144, 30, 30);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: relative;
    z-index: 32;
}

.modal-title {
    font-weight: 600px;
    margin-top: 0;
    margin-bottom: 0;

}

.modal-descr {
    margin-bottom: 0;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        color: white;
    }
}

.modal-closedBtn {
  cursor: pointer; 
  position: absolute;
    top: 20px; 
   right: 35px;
 &:before, &:after {
    content: ""; 
    position: absolute; 
    width: 24px; 
    height: 4px; 
    background: rgb(255, 253, 253);}
    &:before {
        transform: rotate(45deg);}
    &:after {
        transform: rotate(-45deg);}
}